<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wanggebao.wgb">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>

    <application
        android:name="com.wanggebao.wgb.app.WGBComponentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/arms_component_logo"
        android:label="@string/public_app_name"
        android:networkSecurityConfig="@xml/public_network_security_config"
        android:supportsRtl="true"
        android:theme="@style/public_AppTheme">

        <!-- 高德地图开始 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9c6948fed8da91a0394c30c48f0416c5"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>

        <service
            android:name="com.wanggebao.wgb.commonsdk.location.LocationService"
            android:process=":LocationService">
            <intent-filter>
                <action android:name="com.wanggebao.wgb.app.location.LocationService"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.wanggebao.wgb.commonsdk.location.LocationHelperService"
            android:process=":LocationHelperService">
            <intent-filter>
                <action android:name="com.wanggebao.wgb.app.location.LocationHelperService"></action>
            </intent-filter>
        </service>
        <activity
            android:name="com.wanggebao.wgb.mvp.ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanggebao.wgb.mvp.ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />

        <!-- 只要依赖 AutoSize 就必须填写设计图尺寸, 否则报错, 不想使用 AutoSize 就不要依赖 AutoSize
        只要填写完设计图的尺寸, AutoSize 就会自动启动, 以下 dp 尺寸是根据公式 px / (dpi / 160) 求出, 运算时使用测试机的 dpi 即可
        AutoSize 的详细介绍请看这里 https://juejin.im/post/5bce688e6fb9a05cf715d1c2
        -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

        <!-- 每个业务组件需要声明两个 ConfigModule, CommonSDK 的 ConfigModule 和 业务组件自己的 ConfigModule
        CommonSDK 的 ConfigModule 含有有每个组件都可共用的配置信息, 业务组件自己的 ConfigModule 含有自己独有的配置
        信息, 这样即可重用代码, 又可以允许每个组件可自行管理自己独有的配置信息, 如果业务组件没有独有的配置信息则只需要
        声明 CommonSDK 的 ConfigModule -->
        <meta-data
            android:name="com.wanggebao.wgb.commonsdk.core.GlobalConfiguration"
            android:value="ConfigModule"/>
        <meta-data
            android:name="com.wanggebao.wgb.app.GlobalConfiguration"
            android:value="ConfigModule"/>

    </application>

</manifest>