<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <uses-library android:name="com.google.android.things" />

        <activity android:name="com.wanggebao.wgb.mcm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
